@import 'variables';

h1 {
    text-align: center;
    border-bottom: 2px solid $primaryColor;
    padding: 20px;
}

form {
    border: 3px solid $primaryColor;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 550px;
    margin: 0 auto;
    padding: 35px 0;

    a {
        color: $thirdColor;
        transition: color .3s;

        &:hover {
            color: $primaryColor;
            transition: color .3s;
        }
    }

    h2 {
        font-size: 32px;
        padding: 0;
        margin: 0;
        border-bottom: 2px solid $thirdColor;
        color: $thirdColor;
    }

    label {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 600;
        gap: 15px;
        color: $thirdColor;

        input {
            border: none;
            padding: 7px;
            font-family: $font;
            font-size: 16px;
            font-weight: 600;
            border-radius: 5px;
            outline: none;
            background-color: $primaryColor;
            color: $backgroundColor;
            transition: background-color .3s;

            &:focus {
                color: $thirdColor;
                background-color: $secondColor;
                transition: background-color .3s;
            }
        }
    }
    
    .button {
        background-color: $primaryColor;
        border: none;
        outline: none;
        border-radius: 10px;
        font-family: $font;
        color: $backgroundColor;
        width: 200px;
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        transition: background-color .3s;

        &:hover {
            cursor: pointer;
            background-color: $secondColor;
            transition: background-color .3s;
        }
    }
}